<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h2><%= pluralize(@comment.errors.count, "error") %> Wystąpiły błędy</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-lg-6 col-lg-offset-3">
  <div class="field but">
     <label class="title">Treść</label><br>
    <%= f.text_area :content, class: "form-control input-lg"  %>
  </div>
  <div class="field">
     <label class="title">Status</label><br>
    <%= f.text_field :status, class: "form-control input-lg"  %>
  </div>
  <div id= 'submit_search'>
    <%= f.submit "Potwierdź", class: "btn btn-default col-lg-2 col-lg-offset-10"  %>
  </div>
<% end %>
</div>