<%= form_for @organisation, html: {multipart: true} do |f| %>
  <% if @organisation.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h2><%= pluralize(@organisation.errors.count, "error") %> Wystąpiły błędy</h2>

      <ul>
      <% @organisation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-lg-6 col-lg-offset-3">
<label class="title">Logo</label><br>
 <div class="field but title accept">
    <%= f.file_field :logo %>
  </div>
  <label class="title">Film</label><br>
  <div class="field but title accept">
    <%= f.file_field :video %>
  </div>
  <div class="field but">
     <label class="title">Nazwa</label><br>
    <%= f.text_field :name, class: "form-control input-lg" %>
  </div>
  <div class="field but">
     <label class="title">Regon</label><br>
    <%= f.number_field :regon, class: "form-control input-lg" %>
  </div>
  <div class="field but">
     <label class="title">Miasto</label><br>
    <%= f.text_field :city, class: "form-control input-lg" %>
  </div>
  <div class="field but">
     <label class="title">Opis</label><br>
    <%= f.text_area :about, class: "form-control input-lg" %>
  </div>
  <div class="field but">
     <label class="title">Typ wolontariatu</label><br>
   <%= collection_select(:organisation, :volontary_type_id, VolontaryType.all, :id, :name, {prompt: true}, class: "form-control input-lg") %>
  </div>
  <div>
    <%= f.submit "Potwierdź", class: "btn btn-default col-lg-2 col-lg-offset-10" %>
  </div>
<% end %>
</div>
