<%= form_for @organisation, html: {multipart: true} do |f| %>
  <% if @organisation.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h4>Wystąpiły błędy</h4>

      <ul>
      <% @organisation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-lg-6 col-lg-offset-3">
 <div class="field but title accept">
    <% if @organisation.logo.present? %>
      <p>
         <%= image_tag @organisation.logo.url, size: "200x200", alt: "Logo organizacji"%>
      </p>
  <% end %>
  <label class="title">Logo</label><br>
  <%= f.file_field :logo %>
  </div>
  <div class="field but title accept">
    <% if @organisation.video.present? %>
      <p>
        <%= video_tag @organisation.video.url, size: "600x480", :controls => true%>
      </p>
    <% end %>
    <label class="title">Film</label><br>
    <%= f.file_field :video %>
  </div>
  <div class="field but">
     <label class="title">Nazwa</label><br>
    <%= f.text_field :name, class: "form-control input-lg" %>
  </div>
  <div class="field but">
     <label class="title">Regon</label><br>
    <%= f.number_field :regon, class: "form-control input-lg" %>
  </div>
  <div class="field but">
     <label class="title">Miasto</label><br>
    <%= f.text_field :city, class: "form-control input-lg" %>
  </div>
  <div class="field but">
     <label class="title">Opis</label><br>
    <%= f.text_area :about, class: "form-control input-lg" %>
  </div>
  <div class="field but">
     <label class="title">Typ wolontariatu</label><br>
   <%= collection_select(:organisation, :volontary_type_id, VolontaryType.all, :id, :name, {prompt: true}, class: "form-control input-lg") %>
  </div>
  <div>
    <%= f.submit "Potwierdź", class: "btn btn-default col-lg-2 col-lg-offset-10" %>
  </div>
<% end %>
</div>
