
<% if user_signed_in? && current_user.is_organisation?  %>
   <%= render 'menu/menu_organisations_choosen' %>
<% elsif user_signed_in? && current_user.is_individual? %>
   <%= render 'menu/menu_individuals_choosen' %>
<% end %>
<div class="tab">
   <nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<table class="table table-bordered table-hover table-condensed table-responsive">
  <thead>
    <tr class="th">
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Wiek</th>
      <th>Miasto</th>
      <th>Rodzaj wolontariatu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="form">
    <% @volonteers.each do |volonteer| %>
      <tr>
        <td><%= volonteer.name %></td>
        <td><%= volonteer.surname %></td>
        <td><%= volonteer.age %></td>
        <td><%= volonteer.city %></td>
        <td><%= volonteer.volontary_type.name %></td>
       <td><%= link_to 'Zobacz', volonteer %></td>   
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


