<p id="notice"><%= notice %></p>
<% if user_signed_in? && current_user.is_organisation?  %>
  <div class="page-header-my">
    <h1 class="text-center title">STREFA ORGANIZACJI</h1>
  </div>
  <ol class="breadcrumb">
    <li><%= link_to 'Strona główna', home_index_path %></li>
    <li><%= link_to 'Szukam wolontariusza', look_for_volonteer_index_path %></li>
    <li><%= link_to 'Strefa organizacji', organisation_home_index_path %></li>
    <li class="active">Wyszukaj wolontariusza</li>
  </ol>
  <nav>
    <div class="container-fluid">
      <div class"navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav nav-justified nav-org nav-all menu-text ">
        <li class="active">
          <%= link_to 'Strona główna', home_index_path %>
        </li>
        <li class="active">
          <%= link_to 'Zarejestruj organizację', new_user_registration_path %>
        </li>
        <li class="active">
          <%= link_to 'Wyszukaj wolontariusza', new_search_volonteer_path %>
        </li>
      </ul>
    </div>
  </nav>
<% elsif user_signed_in? && current_user.is_individual? %>
  <div class="page-header-my">
    <h1 class="text-center title">STREFA OSÓB PRYWATNYCH</h1>
  </div>
  <ol class="breadcrumb">
    <li><%= link_to 'Strona główna', home_index_path %></li>
    <li><%= link_to 'Szukam wolontariusza', look_for_volonteer_index_path %></li>
    <li><%= link_to 'Strefa osób prywatnych', individual_home_index_path %></li>
    <li class="active">Wyszukaj wolontariusza</li>
  </ol>
  <nav>
    <div class="container-fluid">
      <div class"navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav nav-justified nav-ind nav-all menu-text">
        <li class="active">
          <%= link_to 'Strona główna', home_index_path %>
        </li>
        <li class="active">
          <%= link_to "Zarejestruj się", new_user_registration_path %>
        </li>
        <li class="active">
          <%= link_to 'Wyszukaj wolontariusza', search_by_individual_volonteers_path %>
        </li>
      </ul>
    </div>
  </nav>
<% end %>
<div class="tab">
   <nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<table class="table table-bordered table-hover table-condensed table-responsive">
  <thead>
    <tr class="th">
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Wiek</th>
      <th>Miasto</th>
      <th>Rodzaj wolontariatu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="form">
    <% @volonteers.each do |volonteer| %>
      <tr>
        <td><%= volonteer.name %></td>
        <td><%= volonteer.surname %></td>
        <td><%= volonteer.age %></td>
        <td><%= volonteer.city %></td>
        <td><%= volonteer.volontary_type.name %></td>
       <td><%= link_to 'Zobacz', volonteer %></td>   
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


