
<% if user_signed_in? && current_user.is_volonteer? %>
   <%= render 'menu/menu_volonteers_choosen3' %>
<% end %>
<% if user_signed_in? && current_user.is_organisation?  %>
   <%= render 'menu/menu_organisations_choosen' %>
   <% elsif user_signed_in? && current_user.is_individual? %>
     <%= render 'menu/menu_individuals_choosen2' %>
  <% end %>
<div class="form title">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-2">
      <p>
        <%= image_tag @volonteer.photo.url, size: "130x200", alt: "Zdjęcie wolontariusza"%>
      </p>
    </div>
    <div class="col-lg-6">
      <p>
        <strong>Imię:</strong>
        <%= @volonteer.name %>
      </p>
      <p>
        <strong>Nazwisko:</strong>
        <%= @volonteer.surname %>
      </p>
      <p>
        <strong>Wiek:</strong>
        <%= @volonteer.age %>
      </p>
      <p>
        <strong>Miasto:</strong>
        <%= @volonteer.city %>
      </p>
      <p>
        <strong>Rodzaj wolontariatu:</strong>
        <%= @volonteer.volontary_type.name%>
      </p>
    </div>
  </div>
  <div class="col-lg-8 col-lg-offset-2 row but">
    <p>
      <strong>Opis:</strong>
      <%= @volonteer.about %>
    </p>
    <p>
      <%= render partial: "comments/comments", locals: {commentable: @volonteer} %>
      <%= render partial: "comments/form", locals: {commentable: @volonteer} %>
    </p>
  </div>
</div>
<div class="col-lg-12">
  <button type="button" class="accept col-lg-4 col-lg-offset-4">
     <%= link_to 'Skontaktuj się z wolontariuszem', home_index_path %></button>
</div>
