<%= form_for(@individual) do |f| %>
  <% if @individual.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@individual.errors.count, "error") %> prohibited this individual from being saved:</h2>

      <ul>
      <% @individual.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-lg-6 col-lg-offset-3">
  <div class="field but">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control input-lg" %>
  </div>
  <div class="field but">
    <%= f.label :surname %><br>
    <%= f.text_field :surname, class: "form-control input-lg" %>
  </div>
  <div class="field but">
    <%= f.label :age %><br>
    <%= f.number_field :age, class: "form-control input-lg" %>
  </div>
  <div class="field but">
    <%= f.label :city %><br>
    <%= f.text_field :city, class: "form-control input-lg" %>
  </div>
  <div class="field but">
    <%= f.label :about %><br>
    <%= f.text_area :about, class: "form-control input-lg" %>
  </div>
  <div class="field but">
    <%= f.label :needs %><br>
    <%= f.text_area :needs, class: "form-control input-lg" %>
  </div>
  <div class="field but">
    <%= f.submit %>
  </div>
<% end %>
</div>
