<%= form_for @individual, html: {multipart: true} do |f| %>
  <% if @individual.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@individual.errors.count, "error") %> prohibited this individual from being saved:</h2>

      <ul>
      <% @individual.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-lg-6 col-lg-offset-3">
  <div class="field but title accept">
    <%= f.file_field :photo %>
  </div>
  <div class="field but">
    <label class="title">Imię</label><br>
    <%= f.text_field :name, class: "form-control input-lg" %>
  </div>
  <div class="field but">
    <label class="title">Nazwisko</label><br>
    <%= f.text_field :surname, class: "form-control input-lg" %>
  </div>
  <div class="field but">
    <label class="title">Wiek</label><br>
    <%= f.number_field :age, class: "form-control input-lg" %>
  </div>
  <div class="field but">
    <label class="title">Miasto</label><br>
    <%= f.text_field :city, class: "form-control input-lg" %>
  </div>
  <div class="field but">
    <label class="title">O mnie</label><br>
    <%= f.text_area :about, class: "form-control input-lg" %>
  </div>
  <div class="field but">
    <label class="title">Moje potrzeby</label><br>
    <%= f.text_area :needs, class: "form-control input-lg" %>
  </div>
  <div>
    <%= f.submit "Potwierdź", class: "btn btn-default col-lg-2 col-lg-offset-10" %>
  </div>
<% end %>
</div>
