

   <%= render 'menu/menu_volonteers_choosen2' %>
<div class="form title">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-2">
      <p>
        <%= image_tag @individual.photo.url, size: "130x200", alt: "Zdjęcie użytkownika" %>
      </p>
    </div>
    <div class="col-lg-6">
      <p>
        <strong>Imię:</strong>
        <%= @individual.name %>
      </p>
      <p>
        <strong>Nazwisko:</strong>
        <%= @individual.surname %>
      </p>
      <p>
        <strong>Wiek:</strong>
        <%= @individual.age %>
      </p>
      <p>
        <strong>Miasto:</strong>
        <%= @individual.city %>
      </p>
    </div>
  </div>
  <div class="col-lg-8 col-lg-offset-2 row but">
    <p>
      <strong>Potrzeby:</strong>
      <%= @individual.needs %>
    </p>
    <div class = "tab">
    <p>
      <strong>Opis:</strong>
      <%= @individual.about %>
    </p>
    </div>
  </div>
  <div class="col-lg-8 col-lg-offset-2 row but">
      <p>
        <%= render partial: "comments/comments", locals: {commentable: @individual} %>
        <%= render partial: "comments/form", locals: {commentable: @individual} %>
      </p>
  </div>
</div>
<div class="col-lg-12">
   <button type="button" class="accept col-lg-4 col-lg-offset-4">
    <%= mail_to @individual.user.email, "Skontaktuj się z użytkownikiem"  %></button>
</div>


