<p id="notice"><%= notice %></p>
  <%render '/menu/_menu_admin' %>
<div class="form title">
<div class="row">
<div class="col-lg-2 col-lg-offset-2">
<p>
<%= image_tag @user.individual.photo.url, size: "130x200", alt: "Zdjęcie wolontariusza"%>
</p>
</div>
<div class="col-lg-6">
<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>
<p>
  <strong>E-mail:</strong>
  <%= @user.email %>
</p>
  <strong>Imię:</strong>
  <%= @user.individual.name %>
</p>

<p>
  <strong>Nazwisko:</strong>
  <%= @user.individual.surname %>
</p>

<p>
  <strong>Wiek:</strong>
  <%= @user.individual.age %>
</p>

<p>
  <strong>Miasto:</strong>
  <%= @user.individual.city %>
</p>
</div>
</div>
<div class="col-lg-8 col-lg-offset-2 row but">
<p>
  <strong>Opis:</strong>
  <%= @user.individual.about %>
</p>
<p>
  <strong>Potrzeby:</strong>
  <%= @user.individual.needs %>
</p>
</div>
</div>


<div class="col-lg-12">
<button type="button" class="accept col-lg-4 col-lg-offset-4"><%= link_to 'Skontaktuj się z użytkownikiem', home_index_path %></button>
</div>
