<p id="notice"><%= notice %></p>
  <div class="page-header-my">
  <h1 class="text-center title">STREFA WOLONTARIATU</h1>
</div>
  <div class="container-fluid">
          <div class"navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           </div>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav nav-justified nav-adm nav-all menu-text">
            <li class="active">
                <%= link_to 'Strona główna', home_index_path %>
            </li>
            <li class="active">
              <%= link_to "Wolontariaty", volontary_types_path %>
            </li>
            <li class="active">
              <%= link_to 'Użytkownicy', users_path %>
            </li>
            <li class="active">
              <%= link_to 'Role użytkowników', roles_path %>
            </li>
            <li class="active">
              <%= link_to 'Moderacja', comments_path %>
            </li>
          </ul>
      </div>
   </nav>
<div class="form title">
<div class="row">
<div class="col-lg-2 col-lg-offset-2">
<p>
<%= image_tag @user.volonteer.photo.url, size: "130x200", alt: "Zdjęcie wolontariusza"%>
</p>
</div>
<div class="col-lg-6">
<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>
<p>
  <strong>E-mail:</strong>
  <%= @user.email %>
</p>
  <strong>Imię:</strong>
  <%= @user.volonteer.name %>
</p>

<p>
  <strong>Nazwisko:</strong>
  <%= @user.volonteer.surname %>
</p>

<p>
  <strong>Wiek:</strong>
  <%= @user.volonteer.age %>
</p>

<p>
  <strong>Miasto:</strong>
  <%= @user.volonteer.city %>
</p>
<p>
  <strong>Rodzaj wolontariatu:</strong>
  <%= @user.volonteer.volontary_type.name%>
</p>
</div>
</div>
<div class="col-lg-8 col-lg-offset-2 row but">
<p>
  <strong>Opis:</strong>
  <%= @user.volonteer.about %>
</p>
<p>
  <strong>Id:</strong>
  <%= @user.volonteer.user_id %>
</p>
</div>
</div>


<div class="col-lg-12">
<button type="button" class="accept col-lg-4 col-lg-offset-4"><%= link_to 'Skontaktuj się z wolontariuszem', home_index_path %></button>
</div
