<p id="notice"><%= notice %></p>
  <%render '/menu/_menu_admin' %>
<div class="form title">
<div class="row">
<div class="col-lg-2 col-lg-offset-2">
<p>
<%= image_tag @user.volonteer.photo.url, size: "130x200", alt: "Zdjęcie wolontariusza"%>
</p>
</div>
<div class="col-lg-6">
<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>
<p>
  <strong>E-mail:</strong>
  <%= @user.email %>
</p>
  <strong>Imię:</strong>
  <%= @user.volonteer.name %>
</p>

<p>
  <strong>Nazwisko:</strong>
  <%= @user.volonteer.surname %>
</p>

<p>
  <strong>Wiek:</strong>
  <%= @user.volonteer.age %>
</p>

<p>
  <strong>Miasto:</strong>
  <%= @user.volonteer.city %>
</p>
<p>
  <strong>Rodzaj wolontariatu:</strong>
  <%= @user.volonteer.volontary_type.name%>
</p>
</div>
</div>
<div class="col-lg-8 col-lg-offset-2 row but">
<p>
  <strong>Opis:</strong>
  <%= @user.volonteer.about %>
</p>
<p>
  <strong>Id:</strong>
  <%= @user.volonteer.user_id %>
</p>
</div>
</div>


<div class="col-lg-12">
<button type="button" class="accept col-lg-4 col-lg-offset-4"><%= link_to 'Skontaktuj się z wolontariuszem', home_index_path %></button>
</div
