<p id="notice"><%= notice %></p>
  <%= render 'menu/menu_admin' %>
  <div class="tab">
    <table class="table table-bordered table-hover table-condensed table-responsive">
      <thead>
        <tr class= "th">
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody class="form">
        <% @volontary_types.each do |volontary_type| %>
          <tr>
            <td><%= volontary_type.name %></td>
            <td><%= link_to 'Zobacz', volontary_type %></td>
            <td><%= link_to 'Edytuj', edit_volontary_type_path(volontary_type) %></td>
            <td><%= link_to 'Usuń', volontary_type, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

<br>

<%= link_to 'Dodaj nowy', new_volontary_type_path %>
