<div class="page-header-my">
  <h1 class="text-center title">STREFA WOLONTARIATU</h1>
</div>
<ol class="breadcrumb">
  <li><%= link_to 'Strona główna', home_index_path %></li>
  <li>Logowanie</li>
</ol>
<div class="col-lg-6 col-lg-offset-3">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field but">
    <label class="title">Email</label><br>
    <%= f.email_field :email, autofocus: true, class: "form-control input-lg" %>
  </div>

  <div class="field but">
  <label class="title">Hasło</label><br>
    <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field but">
      <%= f.check_box :remember_me %>
      <label class="title">Zapamiętaj mnie</label><br>
    </div>
  <% end -%>

 
 <div class="actions but title accept">
    <%= f.submit "Zaloguj", class: "btn btn-default " %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
