<p id="notice"><%= notice %></p>
  <%= render 'menu/menu_admin' %>
  <div class="tab">
    <table class="table table-bordered table-hover table-condensed table-responsive">
      <thead>
        <tr class="th">
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody class="form">
        <% @roles.each do |role| %>
          <tr>
            <td><%= role.name %></td>
            <td><%= link_to 'Edytuj', edit_role_path(role) %></td>
            <td><%= link_to 'Usuń', role, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Dodaj nową', new_role_path %>
    </div>
