<p id="notice"><%= notice %></p>
  <%= render 'menu/menu_admin' %>
    <div class="col-lg-6 col-lg-offset-4 form title tab">
		<p>
		  <strong>ID:</strong>
		  <%= @role.id %>
		 </p>
		 <p>
		   <strong>Nazwa:</strong>
		  <%= @role.name %>
		</p>


<%= link_to 'Edytuj', edit_role_path(@role) %> |
<%= link_to 'Wróć', roles_path %>
</div>