<%= form_for(@search_volonteer) do |f| %>
  <% if @search_volonteer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search_volonteer.errors.count, "error") %> prohibited this search_volonteer from being saved:</h2>

      <ul>
      <% @search_volonteer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :volontary_type_id %><br>
    <%= f.number_field :volontary_type_id %>
  </div>
   <div class="btn btn-default">
    <%= f.submit, class: "btn btn-default col-lg-2 col-lg-offset-10" %>
  </div>
<% end %>
