 <%= render 'menu/menu_organisations_choosen' %>
<div class="tab">
<% if @search_volonteers.search_volonteers.empty? %>
<p> Nie znaleziono wolontariuszy</p>
<% else %> 
<table class="table table-bordered table-hover table-condensed table-responsive">
  <thead>
    <tr class="th">
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Wiek</th>
      <th>Miasto</th>
      <th>Rodzaj wolontariatu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<% @search_volonteers.search_volonteers.each do |c| %>

<tbody class="form">
  <tr>
        <td><%= c.name %></td>
        <td><%= c.surname %></td>
        <td><%= c.age %></td>
        <td><%= c.city %></td>
        <td><%= c.volontary_type.name%></td>
       <td><%= link_to 'Zobacz', c %></td>   
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
</div>
