<!DOCTYPE html>
<html>
<head>
  <title>Strefa wolontariatu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class = "back">
	<nav class="navbar navbar-default">
  		<div class="container-fluid">
  			<ul class="nav navbar-nav navbar-right ">
  				<li><%= link_to "Regulamin", rule_index_path %></li>
          <% if user_signed_in? %>
            <li> <%= link_to "Wyloguj", destroy_user_session_path, :method => :delete %></li>
            <% if current_user.volonteer != nil || current_user.organisation !=nil || current_user.individual !=nil || current_user.admin? %>
            <% if current_user.is_volonteer?  %>
              <li><%= link_to "Twój profil", edit_volonteer_path(current_user.volonteer) %></li>
            <% end %>
            <% if current_user.is_organisation?  %>
              <li><%= link_to "Twój profil", edit_organisation_path(current_user.organisation) %></li>
            <% end %>
            <% if current_user.is_individual?  %>
              <li><%= link_to "Twój profil", edit_individual_path(current_user.individual) %></li>
            <% end %>
            <% if current_user.admin?  %>
               <li> <%= link_to "Twój profil", edit_user_registration_path %></li>
            <% end %>
          <% elsif current_user.is_volonteer? && current_user.volonteer == nil %>
              <li> <%= link_to "Uzupełnij profil", new_volonteer_path %></li>
          <% elsif current_user.is_organisation? && current_user.organisation == nil %>
              <li> <%= link_to "Uzupełnij profil", new_organisation_path %></li>
          <% elsif current_user.is_individual? && current_user.individual == nil %>
              <li> <%= link_to "Uzupełnij profil", new_individual_path %></li>
          <% end %> 
        <% else %>
            <li><%= link_to "Logowanie", new_user_session_path %></li>
      <% end %>
			</ul>
		</div>
	</nav>
  
 
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>
<div class="container">
<%= yield %>
</div>
 <!-- Footer-->

    <footer class="footer "> <span>  Małgorzata Koselak | Projekt licencjacki 2015 | <%= link_to "O projekcie", about_index_path %> </span></footer>

</body>
</html>
